doctype xml
Response
  Say(voice='alice').
   
   I want to die peacefully in my sleep, like my grandfather.
   Not screaming and yelling like the passengers in his car.

  // To dial another number, you would uncomment the <Dial> below and replace
  // +16519991111 with the number of your sales/support line
  // Dial +16519991111
